# Data Analysis
## Video Game Stats
#### Stephen Koch 12/16/2019

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('vgsales.csv')
df.describe()
# df.info()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

#### Which company is the most common video game publisher?

In [7]:
# df.Publisher.mode()
df['Publisher'].value_counts().idxmax()

'Electronic Arts'

#### Whatâ€™s the most common platform?

In [9]:
# df.Platform.mode()
df['Platform'].value_counts().idxmax()

'DS'

 #### What about the most common genre?

In [10]:
# df.Genre.mode()
df['Genre'].value_counts().idxmax()

'Action'

#### What are the top 20 highest grossing games?

In [13]:
# df[df['Global_Sales'] > 20]
df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
# df.nlargest(20, 'Global_Sales')

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

#### For North American video game sales, whatâ€™s the median?

In [44]:
df['NA_Sales'].median()

0.08

#### Provide a secondary output showing â€˜aboutâ€™ ten games surrounding the median sales output

In [19]:
# range_games = df['NA_Sales'].between(0.08, 0.08, inclusive=True)
# df[range_games].head(10)
median_sellers = df[df['NA_Sales'] == 0.08]
median_sellers.iloc[225:235]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11
10029,10031,Tony Hawk's Pro Skater 5,XOne,2015.0,Sports,Activision,0.08,0.02,0.00,0.01,0.11

#### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [71]:
std = df['NA_Sales'].std()
mean = df['NA_Sales'].mean()
top = df['NA_Sales'].max()
difference = top-mean
difference/std

50.47898767479108

#### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [79]:
df['Global_Sales'].groupby(df['Platform']).mean().sort_values(ascending=False)

Platform
GB      2.606633
NES     2.561939
GEN     1.050370
SNES    0.837029
PS4     0.827679
X360    0.774672
2600    0.729925
PS3     0.720722
Wii     0.699404
N64     0.686144
XOne    0.662254
PS      0.610920
PS2     0.581046
WiiU    0.572448
3DS     0.486169
GBA     0.387470
DS      0.380254
GC      0.358561
XB      0.313422
SCD     0.311667
DC      0.307115
PC      0.269604
PSP     0.244254
WS      0.236667
SAT     0.194162
PSV     0.149952
NG      0.120000
TG16    0.080000
GG      0.040000
3DO     0.033333
PCFX    0.030000
Name: Global_Sales, dtype: float64

#### What is the top selling game for every platform?

In [146]:
# df.loc[0]
# df[df['Publisher'] == 'Nintendo'].loc[0].Name
unique_publishers = df['Publisher'].unique()
a = []
for p in unique_publishers:
    a.append(df[df['Publisher'] == p]['Name'].max())
a[0:10]

['Zero: Tsukihami no Kamen',
 'Zoo Tycoon: Complete Collection',
 'Zathura',
 'inFAMOUS: Second Son',
 'iCarly 2: iJoin The Click!',
 'Zoo Resort 3D',
 'Wolfenstein: The Old Blood',
 'Zubo',
 'Yuu Yuu Hakusho: Makyo Toitsusen',
 'Xenogears']

#### Sort the top 10 Publishers by number of games.

In [127]:
df['Name'].groupby(df['Publisher']).count().sort_values(ascending=False).head(10)

Publisher
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
THQ                              715
Nintendo                         703
Sony Computer Entertainment      683
Sega                             639
Take-Two Interactive             413
Name: Name, dtype: int64

### What year were the most video games produced?

In [147]:
df['Year'].mode()

0    2009.0
dtype: float64